<div class="page">
<!-- 
    <div class="firstLine">
       <div class="card">
<p class="text">Add new name</p>
<input type="text" (input)="changeName($event)" #nameInput/>
<button  class="button" (click)="addNewName(nameInput)" [disabled]="disable" >add</button>
    </div>

<div class="info">
    <p class="name">name task: {{name}}</p>
<p class="name">id task: {{idName}}</p>
</div>


<div class="card">
    <p class = "text">Get name for id</p>

<input type="number" (input)="changeIdGetName($event)" [(ngModel)]="numberGetName"#idInput />
<button  class="button" (click)="getName(idInput)" [disabled]="disableId" >get</button>
</div>
</div>   -->

    <div class="allTask">

<div class="tasks">
    
    <button class="addTask" mat-mini-fab  (click)="addTask()">
        <mat-icon>add</mat-icon>
      </button> 
    <p class="nameStateNewTasks">New tasks</p>

    <li class="task" *ngFor="let item of newTasks" (click)="openTaskDialog(item)">{{ item.name }}
        <select class="choseState" [(ngModel)]="selectedStatus[item.id]" (click)="$event.stopPropagation()" (change)="updateTaskStatus(item.id)">
            <option value="IN_PROGRESS">In Progress</option>
            <option value="CLOSED">Closed</option>
          </select>
    </li>
    <div>
  <h2>New Tasks</h2>
  <table mat-table [dataSource]="newTasksDataSource">
    <!-- Определите колонки -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let task"> {{task.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let task"> {{task.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'name']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name'];"></tr>
  </table>
  <mat-paginator #newTasksPaginator [pageSize]="5"></mat-paginator>
</div>
</div>

<div class="tasks">
    <p class="nameState">In progress tasks</p>

    <li class="task"  *ngFor="let item of inProgresTasks" (click)="openTaskDialog(item)">{{ item.name }}
        <select class="choseState" [(ngModel)]="selectedStatus[item.id]" (click)="$event.stopPropagation()" (change)="updateTaskStatus(item.id)">
            <option value="COMPLETED">Completed</option>
            <option value="CLOSED">Closed</option>
          </select>
    </li>
</div>



<div class="tasks">
    <p class="nameState" >Completed tasks</p>

    <li class="task" *ngFor="let item of completedTasks " (click)="openTaskDialog(item)">{{ item.name }}
        <select class="choseState" [(ngModel)]="selectedStatus[item.id]" (click)="$event.stopPropagation()" (change)="updateTaskStatus(item.id)">
            <option value="CLOSED">Closed</option>
          </select>
    </li>

</div>


<!-- <div class="tasks">
    <p class="nameState">Closed tasks</p>

    <li class="task" *ngFor="let item of closedTasks" (click)="openTaskDialog(item)">{{ item.name }}
        <select class="choseState" [(ngModel)]="selectedStatus[item.id]" (click)="$event.stopPropagation()" (change)="updateTaskStatus(item.id)">
            <option value="NEW">New</option>
            <option value="IN_PROGRESS">In Progress</option>
            <option value="COMPLETED">Completed</option>
            <option value="CLOSED">Closed</option>
          </select>
    </li>
</div> -->

    </div>

<!-- <button class="button" (click)="changeDisable()">active button</button> -->
<!-- <button *ngIf="disable" class="button"  (click)="changeName()"  >button</button> -->






<!-- <button *ngIf="disable" class="button"  (click)="changeName()"  >button</button> -->

</div>
