
.firstLine{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 20px;
    display: grid;
    place-items: center;
    height: 120px;
    width: 200px;
    padding: 10px ;
    border: 1px solid black; /* Правильный порядок: ширина, стиль, цвет */
    border-radius: 10px;
}



.info{
    border: 1px solid black; 
    width: 400px;
    display: block;
    margin: 0;
    text-align: left;
}

.name{
    margin-left: 10px;
    font-size: 30px;
    font-style: italic;
    color: blue;
}

.button{
    border-color: aqua;
    border-radius: 5px;
    font-size: 20px;
    display: block; margin-top: 10px; 
}

.nameState{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: cornflowerblue;
    cursor: default;
}

.nameStateNewTasks{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: cornflowerblue;
    cursor: default;
    margin-top: -5px;
}

.allTask{
display: flex;

}

.tasks  {
    height: 450px;
   min-width: 350px;
   max-width: 620px;
    border: 1px solid coral; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: lemonchiffon;
  }

.task{
     cursor: pointer;
     margin-left: 12px;
     margin-right: 12px;
     margin-bottom: 12px;
}

.allTask li {
    /* border: 1px solid coral;  */
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
  }

  .choseState {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
  }


  .addTask{
    color: whitesmoke;
    background-color: darkcyan;
    display: flex;
    margin-right: 6px;

    margin-top: 6px;
    margin-left: auto;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
}

.addTask .mat-icon {
    margin-top: 4px;
    font-size: 20px; /* Настройте размер значка */
  }  


  .tasksCard{
    display: table;
    align-items: end;
    margin-left: auto;
    margin-right: auto;
  }

  /* .tasksCard .extended-paginator .paginator {
    width: 550px !important;
} */
::ng-deep .paginator {
    max-width: 320px;
    font-size: 12px;
    
  }
  
  ::ng-deep .mat-mdc-paginator-page-size-label {
    display: none;
  }

 ::ng-deep .mat-mdc-paginator-page-size{
    
   width: 66px;
 }
  

 