<div class="page">

    <div class="allTask">

        <div class="tasksCard">

            <div class="tasks">
<div class="buttons">
    <div class="sortButton">
        <button tabindex="-1" mat-icon-button [autofocus]="false" type="button" [matMenuTriggerFor]="sortMenu"
                [ngClass]="{'mat-mdc-menu-trigger': false,
                            'mat-mdc-icon-button': false,
                            'mat-unthemed': false,
                            'mat-mdc-button-base': false}">
          <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #sortMenu="matMenu">
          <button mat-menu-item (click)="sortTasks('NAME_UP')">
            <mat-icon>arrow_upward</mat-icon>
            <span>Sort by Name (Ascending)</span>
          </button>
          <button mat-menu-item (click)="sortTasks('NAME_DOWN')">
            <mat-icon>arrow_downward</mat-icon>
            <span>Sort by Name (Descending)</span>
          </button>
          <button mat-menu-item (click)="sortTasks('DATE_UP')">
            <mat-icon>arrow_upward</mat-icon>
            <span>Sort by Date (Ascending)</span>
          </button>
          <button mat-menu-item (click)="sortTasks('DATE_DOWN')">
            <mat-icon>arrow_downward</mat-icon>
            <span>Sort by Date (Descending)</span>
          </button>
        </mat-menu>
      </div>
      
 <button class="addTask" mat-mini-fab (click)="addTask()">
                    <mat-icon>add</mat-icon>
                </button>
</div>

  
  

               
                <p class="nameStateNewTasks">New tasks</p>

                <li class="task" *ngFor="let item of paginatedNewTasks" (click)="openTaskDialog(item)">{{ item.name }}
                    <select class="choseState" [(ngModel)]="selectedStatus[item.id]" (click)="$event.stopPropagation()"
                        (change)="updateTaskStatus(item.id)">
                        <option value="IN_PROGRESS">In Progress</option>
                        <option value="CLOSED">Closed</option>
                    </select>
                </li>


            </div>

            <div class="extended-paginator"  style="margin-left: -10px;">
                <mat-paginator class="paginator" [length]="totalNewTasks" [pageSize]="pageSizeNewTask"
                    [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="false" (page)="onPageChangeNewTask($event)">
                </mat-paginator>
            </div>


        </div>

        <div class="tasksCard">

            <div class="tasks">
                <p class="nameState">In progress tasks</p>

                <li class="task" *ngFor="let item of paginatedInProgressTasks" (click)="openTaskDialog(item)">{{ item.name }}
                    <select class="choseState" [(ngModel)]="selectedStatus[item.id]" (click)="$event.stopPropagation()"
                        (change)="updateTaskStatus(item.id)">
                        <option value="COMPLETED">Completed</option>
                        <option value="CLOSED">Closed</option>
                    </select>
                </li>
            </div>

            <div class="extended-paginator"  style="margin-left: -25px;">
                <mat-paginator class="paginator" [length]="totalInProgressTasks" [pageSize]="pageSizeInProgressTask"
                    [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="false"
                    (page)="onPageChangeInProgressTask($event)">
                </mat-paginator>
            </div>


        </div>


        <div class="tasksCard">

            <div class="tasks">
                <p class="nameState">Completed tasks</p>

                <li class="task" *ngFor="let item of paginatedCompletedTasks " (click)="openTaskDialog(item)">{{ item.name }}
                    <select class="choseState" [(ngModel)]="selectedStatus[item.id]" (click)="$event.stopPropagation()"
                        (change)="updateTaskStatus(item.id)">
                        <option value="CLOSED">Closed</option>
                    </select>
                </li>

            </div>

            <div class="extended-paginator" style="margin-left: -103px;">
                <mat-paginator class="paginator" style="max-width: 400px" [length]="totalCompletedTasks"
                    [pageSize]="pageSizeCompletedTask" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="false"
                    (page)="onPageChangeCompletedTask($event)">
                </mat-paginator>
            </div>

        </div>

    </div>

</div>